#taskContainer {
    border: solid black 1px;
}

#taskTitleInfo1 {
    display: flex;
}

#taskItemOptions {
    display: flex;
    column-gap: 10px;
    height: 30px;
    width: 150px;
    align-self: center;
    margin-left: 200px;
}